#root {
    display: inline;
}

div .container-row {
    flex-direction: row;
    display: flex;
    align-items: flex-start;
    margin: 50px;
}

aside {
    padding: 30px 20px;
    border-radius: 10px;
    background-color: #fff;
    margin-right: 50px;
}

.maincards ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    list-style: none;
}


li.card {
    background: #fff;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
}

li header {
    display: block;
    font-size: 17px;
    color: #333;
}

li p {
    color: #666;
    font-size: 15px;
    line-height: 20px;
    margin: 10px 0;
}