#main {
    width: 320px;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    padding: 30px 20px;
}

main .logo-block {
    text-align: center;
}

main .logo-block img {
    width: 142px;
    height: 142px;
}

main .logo-container font {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -.5px;
    color: #4507a1;
}

main form .input-block {
    margin-top: 20px;
}

main form .input-block label {
    color: #ACACAC;
    font-size: 15px;
    display: block;
    padding-left: 5px;
}

main form .input-block input {
    width: 100%;
    height: 32px;
    font-size: 15px;
    color: #666;
    border: 0;
    border-bottom: 1px solid #eee;
    border-radius: 6px;
    padding: 5px;
}

main form .forgot-block {
    margin-top: 15px;
}

main form .forgot-block a {
    margin-left: 5px;
    color: #4507a1;
    font-size: 14px;
    text-decoration: none;
    transition: color 0.5s;
}

main form .forgot-block a:hover {
    color: #9462e0cc;
}

main form button[type=submit] {
    width: 100%;
    border: 0;
    margin-top: 12px;
    background: #4507a1;
    border-radius: 6px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: background 0.5s;
}

main form button[type=submit]:hover {
    background: #9462e0cc;
    color: #4507a1;
}

main .error-block {
    margin: 5px;
    height: 20px;
    text-align: center;
}

main .error-block font {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -.5px;
    color: rgb(233, 50, 50);
    padding: 2px;
}

main form .register-block {
    text-align: center;
}

main form .register-block label {
    font-size: 14px;
    color: #666;
}

main form .register-block a {
    margin-left: 5px;
    color: #4507a1;
    font-size: 14px;
    text-decoration: none;
    transition: color 0.5s;
}

main form .register-block a:hover {
    color: #9462e0cc;
}

#button[type=submit] {
    width: 100%;
    border: 0;
    margin-top: 45px;
    background: #4507a1;
    border-radius: 6px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: background 0.5s;
}